body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
}

/* ===== NAV ===== */
nav {
  height: 100vh;
  background: rgb(40,49,59);
  background: linear-gradient(0deg, rgba(40,49,59,1) 0%, rgba(72,84,97,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.nav__logo-container,
.nav__controls-container{
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

.nav__logo-container img {
  width: 20px;
}
.nav__icon{
  color: white;
}

/* ===== DASHBOARD ===== */
.dashboard {
  padding: 36px;
  width: 100%;
}
.dashboard__ticket-container{
  height: 80vh;
  overflow: scroll;
}

/* ===== TICKET CARD ===== */
.ticket-card{
  display: flex;
  width: 100%;
}
.ticket-card #link {
  display: flex;
  width: 100%;
}
.ticket-card #link > * {
  background-color: gray;
  margin: 4px;
  padding: 28px;
  width: 100%;
  display: flex;
  align-items: center;
}
.ticket-card__color{
  width: 16px !important;
  margin: 4px;
}